@font-face {
    font-family: FightClub;
    src: url('../font/FIGHTT3_.ttf');
}

body {
	background: #333;
	font-family: Verdana, Geneva, sans-serif;
}

img {
	max-width: 100%;
}

h1 {
	font-family: FightClub;
	font-weight: 900 !important;
	font-size: 8em !important;
	color: #ea66a2 !important;
	text-shadow: -3px 3px #000;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

h3 {
	font-size: 28px;
	font-family: Verdana, Geneva, sans-serif;
	margin-top: -5px;
}

h4 {
	font-family: Verdana, Geneva, sans-serif;	
	color: #fff;
}

.center {
	text-align: center;
}

.jumbotron {
	background: #222;
	padding: 5px 0;
	margin-bottom: 0;
}

.jumbotron-text {
	max-width: 360px;
	margin: 0 auto;
}

.jumbotron p {
	margin-top: -10px;
	color: #999;
}

#charSelection {
	margin: 0 auto;
	margin-bottom: 100px;
	background: #222;
	height: 100vh;
}

.characters {
	background-color: #ea66a2;
	text-align: center;
	width: 158px;
	margin: 0 auto 10px;
}

.characters p {
	margin: 0;
}

.characters img {
	max-width: 70%;
}

#player .characters, #enemy .characters {
	margin: 0 auto;
	padding: 5px 0;
}

#player .characters img, #enemy .characters img {
	max-width: 100%;
}

.charWrapper, #enemy {
	width: 100%;
}

.names {
	font-family: FightClub;
	font-size: 1.5em;
}

.combatarea {
	color: #fff;
	text-align: center;
}

.attackWrapper {
	text-align: center;
	margin-top: 30px;
}

#attack {
	text-align: center;
	margin-bottom: 25px;
}

#status {
	padding: 20px;
	color: #fff;
}





